@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/* Inicializando todos elementos da pagina com definições iniciais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Configurando fonte e fundo para corpo da pagina */
body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #23232f 16.62%, #527c8e 85.61%); 
}

/* Estilizando cabecalho */
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

/* Dimensionando imagem de logo */
.header-image{
    height: 10vh;
    border-radius: 50%;
}

/* Dimensionando grupo de links */
.header-links{
    display: flex;
    gap: 20px;
}

/* Estilizando links */
.header-links a{
    color: #FFF2E7;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* Estilizando fonte e cor do titulo */
#header-title{
    font-family: 'Sarala', sans-serif;
    font-size: 27px;
    color: #b5e7ff;
    font-weight: 600;
}

/* Estilizando content principal de informações */
.main-content{
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
}

/* Estilizando descrição da plataforma */
#main-content-descr{
    font-family: 'Sarala', sans-serif;
    color:#FFF2E7;
    font-weight: 100;
    margin-bottom: 20px;
    align-self: center;
}

/* Estilizando label curiosidades */
.main-content label{
    font-family: 'Sarala', sans-serif;
    color:#c5e1fc;
    font-weight: 100;
}


/* Estilizando texto distribuidos na lista ordenada */
.main-content ol,li {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ECD6C4;
    margin-bottom: 10px;
}

/* Estilizando rodapé */
.foo{
    border-top: 0.4px solid #FFF2E7;
    display: flex;
    justify-content: center;
    padding: 8px;
}